:root {

 /* BRAND COLORS */
 --primary: #95676a;
 --secondary: #f7f3f3;
 --accent: #9aa78a;

 /* TEXT */
 --dark: #333;
 --light: #ffffff;
--footer:#efe7e7;
 /* FONT */
 --font-main: sans-serif;

 /* LAYOUT */
 --container-width: 1200px;
}

