:root {

 --primary: #c7848c;     /* рожево-пудровий */
--secondary: #f4e7df;   /* теплий фон */
--accent: #9aa78a;      /* листя */
--dark: #3a3a3a;        /* текст */
--white: #ffffff;
  --font-main: sans-serif;
}
@media (min-width:768px) {

.hero {
    height: 80vh;
}

}