body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--dark);
}

.header {
    background: var(--secondary);
    border-bottom: 1px solid #eee;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT SIDE */
.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 70px;
}

/* BRAND */
.brand h1 {
    margin: 0;
    color: #a56c73;
    font-size: 26px;
}

/* MENU */
.menu {
    margin-top: 5px;
}

.menu a {
    margin-right: 15px;
    text-decoration: none;
    color: var(--dark);
    font-size: 14px;
    position: relative;
    transition: color 0.3s ease;
}

/* зміна кольору */
.menu a:hover {
    color: var(--primary);
}

/* underline animation */
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s ease;
}

.menu a:hover::after {
    width: 100%;
}
/* RIGHT SIDE */
.header-right {
    text-align: right;
}

.phone {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    color: var(--primary);
}

/* BUTTON */
.order-btn {
    background: var(--primary);
    color: white;
    padding: 5px 22px;
    border-radius: 8px;
    text-decoration: none;

    border: 2px solid var(--primary);

    transition: 0.3s;
}

.order-btn:hover {
    background: transparent;
    color: var(--primary);
}

.hero {
    height:90vh;
    background:
        linear-gradient(rgba(255,255,255,.7),
        rgba(255,255,255,.7)),
        url("../images/hero/bg.webp");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1 {
    font-size:48px;
    color:var(--primary);
}

.hero button {
    background:var(--primary);
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    cursor:pointer;
}
.about {
    background:var(--secondary);
    padding:80px 20px;
    text-align:center;
}
.gallery {
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:60px;
}

.gallery img {
    width:100%;
    border-radius:15px;
    transition:.3s;
}

.gallery img:hover {
    transform:scale(1.03);
}
.footer {
    background: #f5f5f5;
    padding: 30px 20px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-logo {
    height: 60px;
}
@media(max-width:768px){

nav {
    display:none;
}

.hero h1{
    font-size:30px;
}

.logo{
    height:45px;
}

}