body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--text-color);
}

.header {
    background: white;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
}

.container {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo {
    height:60px;
}

nav a {
    margin-left:25px;
    text-decoration:none;
    color:var(--dark);
    font-weight:500;
}

nav a:hover {
    color:var(--primary);
}

.hero {
    height:90vh;
    background:
        linear-gradient(rgba(255,255,255,.7),
        rgba(255,255,255,.7)),
        url("../images/hero/bg.webp");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1 {
    font-size:48px;
    color:var(--primary);
}

.hero button {
    background:var(--primary);
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    cursor:pointer;
}
.about {
    background:var(--secondary);
    padding:80px 20px;
    text-align:center;
}
.gallery {
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:60px;
}

.gallery img {
    width:100%;
    border-radius:15px;
    transition:.3s;
}

.gallery img:hover {
    transform:scale(1.03);
}
.footer {
    background:#faf6f3;
    text-align:center;
    padding:40px;
}
@media(max-width:768px){

nav {
    display:none;
}

.hero h1{
    font-size:30px;
}

.logo{
    height:45px;
}

}