body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--dark);
}

.header {
    background: var(--light);

    box-shadow:
        0 4px 20px rgba(0,0,0,.05);

    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT SIDE */
.header-left {
    display:flex;
    align-items:center;
    gap:20px;
}
.header-right {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:10px;
}

.logo {
    height: 70px;
}

/* BRAND */
.brand h1 {
    margin: 0;
    color: var(--primary);
    font-size: 28px;
    font-weight: 600;

    text-shadow:
        0 2px 6px rgba(149,103,106,.25);

    letter-spacing: 1px;
}

/* MENU */
.menu {
    margin-top: 8px;
}

.menu a {
    margin-right: 15px;
    text-decoration: none;
    color: var(--dark);
    font-size: 14px;
    position: relative;
    transition: color 0.3s ease;
}

/* зміна кольору */
.menu a:hover {
    color: var(--primary);
}

/* underline animation */
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s ease;
}

.menu a:hover::after {
    width: 100%;
}
/* RIGHT SIDE */
.header-right {
    text-align: right;
}

.phone{
    display:flex;
    align-items:center;
    gap:8px;
    color:var(--primary);
    text-decoration:none;
    font-weight:500;
}

.phone img{
    width:18px;
    height:18px;
}

/* BUTTON */
.btn-primary{
    background: var(--primary);
    color: white;

    padding: 14px 32px;
    border-radius: 30px;

    text-decoration:none;
    border:none;
    cursor:pointer;

    font-weight:500;

    transition:.3s;
}

.btn-primary:hover{
    background:#7e5457;
    transform:translateY(-2px);
    box-shadow:0 6px 15px rgba(0,0,0,.15);
}

.hero {
    height:90vh;
    background:
        linear-gradient(rgba(255,255,255,.7),
        rgba(255,255,255,.7)),
        url("../images/hero/bg.webp");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}


.hero p{
    margin:20px 0 35px;
}
.hero h1 {
    font-size:48px;
    color:var(--primary);
}


.about {
    background:var(--secondary);
    padding:80px 20px;
    text-align:center;
}
.gallery {
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:60px;
}

.gallery img {
    width:100%;
    border-radius:15px;
    transition:.3s;
}

.gallery img:hover {
    transform:scale(1.03);
}
.footer {
    background: var(--footer);

    padding: 40px 20px;

    border-top:1px solid #e0d6d6;

    box-shadow:
        0 -5px 20px rgba(0,0,0,.05);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-logo {
    height: 60px;
}
.footer a{
    text-decoration:none;
    color:var(--primary);
    font-weight:500;
}
.categories{
    padding:80px 20px;
    text-align:center;
}

.categories h2{
    color:var(--primary);
    margin-bottom:40px;
}

.categories-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.category-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    transition:.3s;
    cursor:pointer;
}

.category-card:hover{
    transform:translateY(-5px);
}

.category-card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.category-card h3{
    padding:20px;
}
.socials{
    display:flex;
    gap:15px;
}

.socials img{
    width:26px;
    height:26px;
    transition:.3s;
}

.socials img:hover{
    transform:scale(1.15);
}
@media(max-width:768px){

nav {
    display:none;
}

.hero h1{
    font-size:30px;
}

.logo{
    height:45px;
}
.categories-grid{
    grid-template-columns:1fr;

}
.hero {
    height: 80vh;
}
.header-container{
    flex-direction:column;
    gap:10px;
    text-align:center;
}

.header-left{
    flex-direction:column;
}

.brand h1{
    font-size:20px;
}

.header-right{
    align-items:center;
}

.phone{
    justify-content:center;
}
.footer-content{
    flex-direction:column;
    gap:15px;
    text-align:center;
}
}